apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: mongo
  labels:
    app: mongo
    tier: database
spec:
  serviceName: mongo
  replicas: 3
  selector:
    matchLabels:
      app: mongo
      tier: database
  template:
    metadata:
      labels:
        app: mongo
        tier: database
    spec:
      containers:
      - name: mongo
        image: docker.io/library/mongo:7
        ports:
        - containerPort: 27017
          name: mongo
        env:
        - name: MONGO_INITDB_ROOT_USERNAME
          value: "admin"
        - name: MONGO_INITDB_ROOT_PASSWORD
          value: "secretpass"
        - name: MONGO_INITDB_DATABASE
          value: "threat_db"
        volumeMounts:
        - name: mongo-data
          mountPath: data/db/
  volumeClaimTemplates:
  - metadata:
      name: mongo-data
      labels:
        app: mongo
    spec:
      accessModes: [ "ReadWriteOnce" ]
      resources:
        requests:
          storage: 1Gi
